:root .theme_dark {
  --title-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --section-color:#FF0070;
  --header-color: #DB00FF;
  --decorated-zone-color: #FF0070;
  --font: 'IBM Plex mono';
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}