.page {
  margin: 0;
  padding-inline: var(--padding, 10px);
  object-position: center;
  color: var(--text-color);
  font-family: var(--font, sans-serif);
  background-color: var(--bg-color);
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-block: var(--padding, 10px);
  min-block-size: 100vh;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decorated-zone-color, #FF0070);
  border-left: 1px solid var(--decorated-zone-color, #FF0070);
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorated-zone-color, #FF0070);
  border-right: 1px solid var(--decorated-zone-color, #FF0070);
  inset-inline-end: 0;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.header__decorated {
  position: absolute;
  color: var(--decorated-zone-color, #FF0070);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  inset-inline-end: 28px;
  inset-block-start: 9px;
}

.header__decorated::after {
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--decorated-zone-color, #ff0070);
  filter: drop-shadow(0px 0px 4px #FF0070);
  inset-block-start: 10px;
  inset-inline-end: -18px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
  }

  .header__decorated {
    inset-block-start: 19px;
  }
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--nav-gap, 13px);
  padding: 0;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-button {
  position: relative;
  border: none;
  padding: 0 13px;
  color: var(--decorated-zone-color, #ff0070);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  color: var(--decorated-zone-color, #ff0070);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.heading {
  color: var(--header-color, #DB00FF);
  font-family: var(--font, sans-serif);
  font-weight: 700;
  line-height: 0.825;
  text-align: start;
}

@media (min-width: 768px) {
  .heading {
    position: relative;
    inset-inline-start: -15px;
  }
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.content__block-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color, #FF0070);
}

.header__content-title {
  justify-self: end;
  align-self: center;
  max-inline-size: 355px;
}

@media (min-width: 768px) {
  .header__content-title {
    min-inline-size: calc(50vw - 20px);
  }
}

.content {
  margin-block-start: var(--small-margin, 40px);
}

.content__section {
  display: grid;
  gap: var(--medium-gap, 20px);
}

@media (min-width: 768px) {
  .content__section:nth-of-type(odd) {
    grid-template-columns: 1fr 2fr;
  }

  .content__section:nth-of-type(odd) .content__block {
    grid-column: 2 / 3;
  }

  .content__section:nth-of-type(2) .content__title {
    inline-size: calc(100vw / 3 - 20px);
  }

  .content__section:nth-of-type(3) .content__block-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .content__section:nth-of-type(3) .content__title {
    grid-row: 1 / 3;
  }
}

@media (min-width: 1024px) {
  .content__section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section:nth-of-type(2) .content__title {
    grid-column: 1 / 4;
  }
}

.content__section:not(:first-of-type) {
  margin-block-start: var(--medium-margin, 50px);
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap, 10px);
}

.content__link:focus-visible {
  padding-block: 0;
  outline: 1px solid currentColor;
  color: currentColor;
}

.content__link:hover {
  color: currentColor;
  text-decoration: underline;
}

.decorated__shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__title {
  color: var(--section-color, #FF0070);
  font-family: var(--font, sans-serif);
  font-weight: 700;
  font-size: 18px;

}

.content__block-paragraph {
  color: var(--text-color, #F1B2CE);
  font-family: var(--font, sans-serif);
  font-size: 18px;
  line-height: 1.3;
}

.content__block-title-advice {
  color: var(--title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color, #FF0070);
}

.gallery {
  display: grid;
  grid-template-columns: minmax(355px, 1fr);
  gap: var(--gallery-gap, 10px);
}

.content__section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section-image:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .content__section-image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .content__section-image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .content__section-image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .content__section-image:last-of-type {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  margin-block-start: var(--small-margin, 40px);
  padding-block: var(--padding, 10px);
  block-size: 100vh;
}

.footer__title {
  place-self: center center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}